<h1>Listing persons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Mobile No.</th>
    <th>House ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.age %></td>
    <td><%= person.gender %></td>
    <td><%= person.mob %></td>
    <td><%= person.house_id %></td>
    <td><%= link_to 'Show', person_path(person) %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
<%= link_to 'Back', root_path %>

