<h1>Listing houses</h1>

<table>
  <tr>
    <th>Address</th>
    <th>No. of People</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @houses.each do |house| %>
  <tr>
    <td><%= house.address %></td>
    <td><%= house.num_of_ppl %></td>
    <td><%= link_to 'Show', house_path(house) %></td>
    <td><%= link_to 'Edit', edit_house_path(house) %></td>
    <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New House', new_house_path %>
<%= link_to 'Back', root_path %>
