<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @house.address %>
</p>

<p>
  <b>No. of People:</b>
  <%= @house.num_of_ppl %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>